## Praca domowa

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as math

### LAB - S02-L013 - Porównanie metod wyszukiwania danych po indeksie

In [2]:
countries = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/countries.csv', 
                        usecols = ['Name', 'Symbol'], index_col = ['Symbol'], squeeze = True)
countries.head(20)

C:\Users\juleq\AppData\Local\Temp/ipykernel_26456/1859037608.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  countries = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/countries.csv',

Symbol
AF            Afghanistan
AL                Albania
DZ                Algeria
AD                Andorra
AO                 Angola
AI               Anguilla
AQ             Antarctica
AG    Antigua and Barbuda
SA           Saudi Arabia
AR              Argentina
AM                Armenia
AW                  Aruba
AU              Australia
AT                Austria
AZ             Azerbaijan
BS                Bahamas
BH                Bahrain
BD             Bangladesh
BB               Barbados
BE                Belgium
Name: Name, dtype: object

In [3]:
countries['FR']

'France'

In [4]:
countries.at['FR']

'France'

In [5]:
countries.loc['FR']

'France'

In [6]:
countries[13]

'Austria'

In [7]:
countries.iloc[13]

'Austria'

In [8]:
countries.iat[13]

'Austria'

In [9]:
nordic = ["FI", "SE", "NO"]

In [10]:
countries[nordic]

Symbol
FI    Finland
SE     Sweden
NO     Norway
Name: Name, dtype: object

In [11]:
countries.loc[nordic]

Symbol
FI    Finland
SE     Sweden
NO     Norway
Name: Name, dtype: object

### LAB - S02-L014 - Reindex i intersection

In [12]:
countries = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/countries.csv', 
                        usecols = ['Name', 'Symbol'], index_col = ['Symbol'], squeeze = True)

C:\Users\juleq\AppData\Local\Temp/ipykernel_26456/99295909.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  countries = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/countries.csv',

In [13]:
countries.dropna(inplace=True)

In [14]:
countries.head(20)

Symbol
AF            Afghanistan
AL                Albania
DZ                Algeria
AD                Andorra
AO                 Angola
AI               Anguilla
AQ             Antarctica
AG    Antigua and Barbuda
SA           Saudi Arabia
AR              Argentina
AM                Armenia
AW                  Aruba
AU              Australia
AT                Austria
AZ             Azerbaijan
BS                Bahamas
BH                Bahrain
BD             Bangladesh
BB               Barbados
BE                Belgium
Name: Name, dtype: object

In [15]:
toFind = ["BB", "AA", "BS"]

In [16]:
countries.loc[toFind]

KeyError: "['AA'] not in index"

In [ ]:
countries.reindex(toFind)

In [ ]:
countries.index.intersection(toFind)

In [ ]:
countries.loc[countries.index.intersection(toFind)]

### LAB - S02-L015 - Określanie indeksu podczas wczytywania pliku CSV

In [25]:
fortune500 = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/Fortune_500_2017.csv',
                        usecols = ['Rank', 'Title'], index_col = ['Rank'], squeeze = True)
fortune500.head()

C:\Users\juleq\AppData\Local\Temp/ipykernel_26456/3307416935.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  fortune500 = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/Fortune_500_2017.csv',

Rank
1               Walmart
2    Berkshire Hathaway
3                 Apple
4           Exxon Mobil
5              McKesson
Name: Title, dtype: object

In [27]:
#fortune500.head(10)
#fortune500[-20:]
fortune500[:10]

Rank
1                Walmart
2     Berkshire Hathaway
3                  Apple
4            Exxon Mobil
5               McKesson
6     UnitedHealth Group
7             CVS Health
8         General Motors
9                   AT&T
10            Ford Motor
Name: Title, dtype: object

In [28]:
fortune500.tail(20)

Rank
481           Booz Allen Hamilton Holding
482                              Chemours
483    Western & Southern Financial Group
484                              Celanese
485                   Windstream Holdings
486                              Seaboard
487                             Essendant
488                                Apache
489                                Airgas
490                        Kelly Services
491                         Liberty Media
492                      Rockwell Collins
493             Robert Half International
494                             CH2M Hill
495                              Big Lots
496                         Michaels Cos.
497                         Toll Brothers
498                                 Yahoo
499                         Vistra Energy
500                        ABM Industries
Name: Title, dtype: object

In [29]:
fortune500.size

500

In [30]:
fortune500[480:]

Rank
481           Booz Allen Hamilton Holding
482                              Chemours
483    Western & Southern Financial Group
484                              Celanese
485                   Windstream Holdings
486                              Seaboard
487                             Essendant
488                                Apache
489                                Airgas
490                        Kelly Services
491                         Liberty Media
492                      Rockwell Collins
493             Robert Half International
494                             CH2M Hill
495                              Big Lots
496                         Michaels Cos.
497                         Toll Brothers
498                                 Yahoo
499                         Vistra Energy
500                        ABM Industries
Name: Title, dtype: object

In [67]:
fortune501 = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/Fortune_500_2017.csv',
                        usecols = ['Employees', 'Title'], index_col = ['Title'], squeeze = True)
fortune501.head()

C:\Users\juleq\AppData\Local\Temp/ipykernel_26456/384922515.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  fortune501 = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/Fortune_500_2017.csv',

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
Name: Employees, dtype: int64

In [68]:
fortune501['IBM']

414400

In [69]:
fortune501['Alphabet']

72053

In [70]:
fortune501['Apple']

116000

In [71]:
fortune501['Facebook']

17048

In [72]:
fortune501['IBM':'Intel']

Title
IBM                          414400
State Farm Insurance Cos.     68234
Phillips 66                   14800
Johnson & Johnson            126400
Procter & Gamble             105000
Valero Energy                  9996
Target                       323000
Freddie Mac                    5982
Lowe’s                       240000
Dell Technologies            138000
MetLife                       58000
Aetna                         49500
PepsiCo                      264000
Archer Daniels Midland        31800
UPS                          335520
Intel                        106000
Name: Employees, dtype: int64

### LAB - S02-L016 - Więcej funkcji Data Series

In [73]:
programmers = pd.read_csv("C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/StackOverflowDeveloperSurvey2018.csv",
                         low_memory = False, usecols = ['ConvertedSalary'], squeeze = True)
programmers.head()

C:\Users\juleq\AppData\Local\Temp/ipykernel_26456/2019687810.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  programmers = pd.read_csv("C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/StackOverflowDeveloperSurvey2018.csv",

0        NaN
1    70841.0
2        NaN
3        NaN
4    21426.0
Name: ConvertedSalary, dtype: float64

In [74]:
programmers.mean()

95780.86178776571

In [75]:
programmers.median()

55075.0

In [76]:
programmers.std()

202348.21562528735

In [77]:
programmers.max()

2000000.0

In [78]:
fortune501.head()

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
Name: Employees, dtype: int64

In [79]:
fortune501.idxmax()

'Walmart'

In [80]:
fortune501.loc['Walmart']

2300000

In [81]:
fortune501.idxmin()

'A-Mark Precious Metals'

In [82]:
fortune501.loc[fortune501.idxmin()]

83

### LAB - S02-L017 - Modyfikacja serii danych

In [85]:
surveys = pd.read_csv("C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/StackOverflowDeveloperSurvey.csv",
                     usecols = ['Salary'], squeeze = True).dropna()
surveys.head()

C:\Users\juleq\AppData\Local\Temp/ipykernel_26456/1170718738.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  surveys = pd.read_csv("C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/StackOverflowDeveloperSurvey.csv",

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [96]:
surveys.size
#len(surveys)

12891

In [97]:
surveysIncrease = surveys*0.03
surveysIncrease.head()

2     3412.50
14    3000.00
17    3900.00
18    2475.00
22    3022.92
Name: Salary, dtype: float64

In [98]:
surveysAfterIncrease = surveys + surveysIncrease
surveysAfterIncrease

2        117162.500000
14       103000.000000
17       133900.000000
18        84975.000000
22       103786.920000
             ...
51371     76419.354839
51378    110752.688172
51382     33225.806452
51387     59740.000000
51390     41200.000000
Name: Salary, Length: 12891, dtype: float64

In [99]:
surveysTime = pd.read_csv("C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/StackOverflowDeveloperSurvey2018.csv",
                     usecols = ['HoursOutside'], squeeze = True, low_memory = False).dropna()
surveysTime.head()

C:\Users\juleq\AppData\Local\Temp/ipykernel_26456/2776266805.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  surveysTime = pd.read_csv("C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/StackOverflowDeveloperSurvey2018.csv",

0             1 - 2 hours
1         30 - 59 minutes
3    Less than 30 minutes
4             1 - 2 hours
5         30 - 59 minutes
Name: HoursOutside, dtype: object

In [100]:
surveysTime.value_counts()

1 - 2 hours             27788
30 - 59 minutes         24002
Less than 30 minutes    11223
3 - 4 hours              7186
Over 4 hours             1825
Name: HoursOutside, dtype: int64

In [101]:
surveysTime = surveysTime.str.lower()
surveysTime.head()

0             1 - 2 hours
1         30 - 59 minutes
3    less than 30 minutes
4             1 - 2 hours
5         30 - 59 minutes
Name: HoursOutside, dtype: object

In [102]:
surveysTime = surveysTime.apply(lambda aText: aText.upper())
surveysTime.head()

0             1 - 2 HOURS
1         30 - 59 MINUTES
3    LESS THAN 30 MINUTES
4             1 - 2 HOURS
5         30 - 59 MINUTES
Name: HoursOutside, dtype: object

In [105]:
def ChangeDescription(napis):
    if napis == "LESS THAN 30 MINUTES":
        return "LESS THAN HALF AN HOUR"
    else:
        return napis

In [106]:
ChangeDescription('1 - 2 HOURS')

'1 - 2 HOURS'

In [107]:
ChangeDescription('LESS THAN 30 MINUTES')

'LESS THAN HALF AN HOUR'

In [108]:
ChangeDescription('30 - 59 MINUTES')

'30 - 59 MINUTES'

In [110]:
surveysTime = surveysTime.apply(ChangeDescription)
surveysTime.head()

0               1 - 2 HOURS
1           30 - 59 MINUTES
3    LESS THAN HALF AN HOUR
4               1 - 2 HOURS
5           30 - 59 MINUTES
Name: HoursOutside, dtype: object

### LAB - S02-L018 - Metoda map

In [120]:
import random as rd

In [121]:
Python_Express = {'PYT001' : 'Airbus 320',
                 'PYT002' : 'Boeing 737',
                 'PYT003' : 'Airbus 321'}

In [122]:
aircrafts = pd.Series(Python_Express)
aircrafts

PYT001    Airbus 320
PYT002    Boeing 737
PYT003    Airbus 321
dtype: object

In [123]:
FlightList = []
for i in range(100):
    FlightList.append(rd.choice(aircrafts.index))
FlightList[:5]

['PYT002', 'PYT001', 'PYT001', 'PYT001', 'PYT003']

In [124]:
flights = pd.Series(FlightList)
flights.head()

0    PYT002
1    PYT001
2    PYT001
3    PYT001
4    PYT003
dtype: object

In [126]:
flight_aircratfs = flights.map(aircrafts)

In [129]:
flight_aircratfs.head()

0    Boeing 737
1    Airbus 320
2    Airbus 320
3    Airbus 320
4    Airbus 321
dtype: object