# Praca domowa

### LAB - S02-L008 - Import danych do obiektu series

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as math

In [9]:
education = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/StackOverflowDeveloperSurvey.csv', 
                        usecols = ['FormalEducation'])
education.head()

                                     FormalEducation
0                                   Secondary school
1  Some college/university study without earning ...
2                                  Bachelor's degree
3                                    Doctoral degree
4                                    Master's degree

In [8]:
type(education)

pandas.core.frame.DataFrame

In [11]:
education = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/StackOverflowDeveloperSurvey.csv', 
                        usecols = ['FormalEducation'], squeeze = True)
education.head()

C:\Users\juleq\AppData\Local\Temp/ipykernel_10800/589451999.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  education = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/StackOverflowDeveloperSurvey.csv',

0                                     Secondary school
1    Some college/university study without earning ...
2                                    Bachelor's degree
3                                      Doctoral degree
4                                      Master's degree
Name: FormalEducation, dtype: object

In [12]:
type(education)

pandas.core.series.Series

In [13]:
education.tail(10)

51382                                      Master's degree
51383               I never completed any formal education
51384                                    Bachelor's degree
51385                                      Master's degree
51386    Some college/university study without earning ...
51387                                    Bachelor's degree
51388                                      Master's degree
51389    Some college/university study without earning ...
51390                                    Bachelor's degree
51391                                    Bachelor's degree
Name: FormalEducation, dtype: object

In [14]:
allInfo = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/StackOverflowDeveloperSurvey.csv')

In [18]:
country = allInfo['Country']
country.head()

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [38]:
filterOnlyUSA = country == 'United States'
filterOnlyUSA.head()

0     True
1    False
2    False
3     True
4    False
Name: Country, dtype: bool

In [39]:
education.where(filterOnlyUSA).dropna().head(10)

0              Secondary school
3               Doctoral degree
6               Master's degree
10            Bachelor's degree
15    Primary/elementary school
17            Bachelor's degree
18            Bachelor's degree
25              Master's degree
27            Bachelor's degree
29            Bachelor's degree
Name: FormalEducation, dtype: object

### LAB - S02-L009 - Standardowe metody Pythona a obiekty PANDAS

In [60]:
salary = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/StackOverflowDeveloperSurvey.csv', 
                        usecols = ['Salary'], squeeze = True).where(salary > 0).dropna()
salary.head()

C:\Users\juleq\AppData\Local\Temp/ipykernel_10800/860435534.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  salary = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/StackOverflowDeveloperSurvey.csv',

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [61]:
len(salary)

12885

In [62]:
salary.min()

0.014682131845544

In [63]:
salary.max()

197000.0

In [66]:
list(salary.head())

[113750.0, 100000.0, 130000.0, 82500.0, 100764.0]

In [68]:
dict(salary.head())

{2: 113750.0, 14: 100000.0, 17: 130000.0, 18: 82500.0, 22: 100764.0}

In [72]:
listSalarySorted = salary.sort_values(ascending = False)
listSalarySorted[:5]

31600    197000.0
41398    195000.0
1696     195000.0
27943    195000.0
18237    195000.0
Name: Salary, dtype: float64

In [75]:
salary.name = 'Salary of a person' #zmiana atrybutu name

In [76]:
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary of a person, dtype: float64

### LAB - S02-L010 - Sortowanie danych dataseries

In [104]:
salary = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/StackOverflowDeveloperSurvey.csv', 
                        usecols = ['Salary'], squeeze = True).dropna()
salary.head()

C:\Users\juleq\AppData\Local\Temp/ipykernel_10800/4026820901.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  salary = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/StackOverflowDeveloperSurvey.csv',

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [105]:
salary.sort_values(ascending = False).head()#malejąco

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [106]:
salary.sort_values().head()#rosnąco

51144    0.0
23953    0.0
23907    0.0
44841    0.0
2951     0.0
Name: Salary, dtype: float64

In [107]:
salary.sort_values(ascending = False, inplace = True)
salary.head()

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [108]:
maxSalaries = salary.sort_values(ascending = True).head(100)
maxSalaries

2951       0.000000
23907      0.000000
44841      0.000000
4517       0.000000
51144      0.000000
            ...
26905    176.185582
33212    178.784267
50569    198.208780
48674    198.649186
1077     200.000000
Name: Salary, Length: 100, dtype: float64

In [109]:
minSalaries = salary.sort_values(ascending = True).tail(100)#lub salary.sort_values().head(100)
minSalaries

14805    170000.0
45384    170000.0
41214    170000.0
29971    170000.0
291      170000.0
           ...
41398    195000.0
18237    195000.0
6743     195000.0
27943    195000.0
31600    197000.0
Name: Salary, Length: 100, dtype: float64

In [110]:
maxSalaries.mean()

67.08388907133795

In [111]:
minSalaries.mean()

180198.1045586777

### LAB - S02-L011 - Sprawdzanie czy element jest na liście

In [103]:
countries = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/StackOverflowDeveloperSurvey.csv', 
                        usecols = ['Country'], squeeze = True).dropna()
countries.head()

C:\Users\juleq\AppData\Local\Temp/ipykernel_10800/3735922723.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  countries = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/StackOverflowDeveloperSurvey.csv',

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [114]:
'Spain' in countries#szukanie po wartości

False

In [115]:
'Spain' in countries.values#szukanie po indeksie

True

In [116]:
'Wonderland' in countries.values

False

### LAB - S02-L012 - Pobieranie wartości po indeksie

In [123]:
surveys = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/StackOverflowDeveloperSurvey.csv',
                      usecols = ['CompanySize'], squeeze = True).dropna()
surveys.head()

C:\Users\juleq\AppData\Local\Temp/ipykernel_10800/1963183830.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  surveys = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/StackOverflowDeveloperSurvey.csv',

1          20 to 99 employees
2    10,000 or more employees
3    10,000 or more employees
4          10 to 19 employees
6          20 to 99 employees
Name: CompanySize, dtype: object

In [124]:
surveys[3]

'10,000 or more employees'

In [125]:
surveys[1:11]

2     10,000 or more employees
3     10,000 or more employees
4           10 to 19 employees
6           20 to 99 employees
7      Fewer than 10 employees
8     5,000 to 9,999 employees
10        100 to 499 employees
11        100 to 499 employees
13     Fewer than 10 employees
14    5,000 to 9,999 employees
Name: CompanySize, dtype: object

In [126]:
surveys[12345]

'20 to 99 employees'

In [140]:
surveys[12345:12351]

12345    10,000 or more employees
12346    10,000 or more employees
12347    10,000 or more employees
12348    10,000 or more employees
12349    10,000 or more employees
12350    10,000 or more employees
Name: CompanySize, dtype: object

In [128]:
surveys.sort_values(inplace = True)

In [129]:
surveys[3]

'10,000 or more employees'

In [130]:
surveys[1:11]

36683    1,000 to 4,999 employees
43105    1,000 to 4,999 employees
43102    1,000 to 4,999 employees
30582    1,000 to 4,999 employees
43072    1,000 to 4,999 employees
43063    1,000 to 4,999 employees
23955    1,000 to 4,999 employees
43060    1,000 to 4,999 employees
43056    1,000 to 4,999 employees
30558    1,000 to 4,999 employees
Name: CompanySize, dtype: object

In [131]:
surveys[12345]

'20 to 99 employees'

In [138]:
surveys[[3, 12345]]

3        1,000 to 4,999 employees
12345    10,000 or more employees
Name: CompanySize, dtype: object

In [133]:
surveys.reset_index(drop=True,inplace=True)

In [134]:
surveys[3]

'1,000 to 4,999 employees'

In [135]:
surveys[3:11]

3     1,000 to 4,999 employees
4     1,000 to 4,999 employees
5     1,000 to 4,999 employees
6     1,000 to 4,999 employees
7     1,000 to 4,999 employees
8     1,000 to 4,999 employees
9     1,000 to 4,999 employees
10    1,000 to 4,999 employees
Name: CompanySize, dtype: object

In [136]:
surveys[12345]

'10,000 or more employees'

In [139]:
surveys[12345:12351]

12345    10,000 or more employees
12346    10,000 or more employees
12347    10,000 or more employees
12348    10,000 or more employees
12349    10,000 or more employees
12350    10,000 or more employees
Name: CompanySize, dtype: object