# Pandas krus dział 4 część III

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as math

In [7]:
pok = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name', 'Attack'], 
                  index_col = 'Name', squeeze = True)
pok#nazwa pokemona która stanie się indeksem i ich siła ataku

C:\Users\juleq\AppData\Local\Temp/ipykernel_7424/1702928530.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pok = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name', 'Attack'],

Name
Bulbasaur                 49
Ivysaur                   62
Venusaur                  82
VenusaurMega Venusaur    100
Charmander                52
                        ...
Diancie                  100
DiancieMega Diancie      160
HoopaHoopa Confined      110
HoopaHoopa Unbound       160
Volcanion                110
Name: Attack, Length: 800, dtype: int64

In [8]:
pok.head()

Name
Bulbasaur                 49
Ivysaur                   62
Venusaur                  82
VenusaurMega Venusaur    100
Charmander                52
Name: Attack, dtype: int64

In [10]:
pok.count() #ilość elementów w tym zbiorze

800

In [13]:
pokType = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name', 'Type 2'], 
                  index_col = 'Name', squeeze = True)
pokType.head()#nazwa pokemona jako indeks oraz rodzaj pokemona

C:\Users\juleq\AppData\Local\Temp/ipykernel_7424/2527264096.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pokType = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name', 'Type 2'],

Name
Bulbasaur                Poison
Ivysaur                  Poison
Venusaur                 Poison
VenusaurMega Venusaur    Poison
Charmander                  NaN
Name: Type 2, dtype: object

In [17]:
pokType.value_counts()#domyślnie ustawione jest sort = True, a ascending = False(malejaco)

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

In [18]:
pokType.value_counts().head()

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Name: Type 2, dtype: int64

In [19]:
pok.min()

5

In [20]:
pok.max()

190

In [23]:
pok.idxmin()#na którym indeksie zostałą znaleziona wartośćminimalna

'Chansey'

In [25]:
pok.loc[pok.idxmin()]

5

In [24]:
pok.idxmax()

'MewtwoMega Mewtwo X'

In [26]:
pok.loc[pok.idxmax()]

190

In [28]:
pok.mean()#średnia

79.00125

In [32]:
pok.sum() / pok.count() #wzór na średnią

79.00125

In [29]:
pok.median()#mediana - wartość środkowa

75.0

In [31]:
pok.std()#odchylenie standardowe - rozrzut danych w serii

32.45736586949843

## Modyfikacja serii danych

In [41]:
pok = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name', 'Attack'], 
                  index_col = 'Name', squeeze = True)
pok.head()

C:\Users\juleq\AppData\Local\Temp/ipykernel_7424/2439256776.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pok = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name', 'Attack'],

Name
Bulbasaur                 49
Ivysaur                   62
Venusaur                  82
VenusaurMega Venusaur    100
Charmander                52
Name: Attack, dtype: int64

Pomnożyć liczbę ataku przez 100

In [42]:
pok100 = pok * 100
pok100.head()

Name
Bulbasaur                 4900
Ivysaur                   6200
Venusaur                  8200
VenusaurMega Venusaur    10000
Charmander                5200
Name: Attack, dtype: int64

In [43]:
pok1 = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name', 'Type 1'], 
                  index_col = 'Name', squeeze = True)
pok1.head()

C:\Users\juleq\AppData\Local\Temp/ipykernel_7424/2576640415.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pok1 = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name', 'Type 1'],

Name
Bulbasaur                Grass
Ivysaur                  Grass
Venusaur                 Grass
VenusaurMega Venusaur    Grass
Charmander                Fire
Name: Type 1, dtype: object

Zapisać nazwy znajdujące się w wartościach wielkimi literami

In [48]:
pokUpper = pok1.str.upper()
pokUpper.head()

Name
Bulbasaur                GRASS
Ivysaur                  GRASS
Venusaur                 GRASS
VenusaurMega Venusaur    GRASS
Charmander                FIRE
Name: Type 1, dtype: object

Nazwa tyup pokemona ma byc zapisana wielkimi literami i poprzedzona dwukropkiem

In [53]:
pokWithType = "Type: " + pok1.str.upper()
pokWithType.head()

Name
Bulbasaur                Type: GRASS
Ivysaur                  Type: GRASS
Venusaur                 Type: GRASS
VenusaurMega Venusaur    Type: GRASS
Charmander                Type: FIRE
Name: Type 1, dtype: object

In [54]:
pok1.head()

Name
Bulbasaur                Grass
Ivysaur                  Grass
Venusaur                 Grass
VenusaurMega Venusaur    Grass
Charmander                Fire
Name: Type 1, dtype: object

In [55]:
pok1.value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Typy Grass i Ground mają nazywać się Nature

In [56]:
def ReplaceType(oldType):
    if oldType == "Grass" or oldType == 'Ground':
        return "Nature"
    else:
        return oldType

In [57]:
ReplaceType('Fire')

'Fire'

In [59]:
ReplaceType('Grass') #Juhu

'Nature'

In [64]:
pokNature = pok1.apply(ReplaceType)
pokNature.head()

Name
Bulbasaur                Nature
Ivysaur                  Nature
Venusaur                 Nature
VenusaurMega Venusaur    Nature
Charmander                 Fire
Name: Type 1, dtype: object

In [66]:
pokNature.value_counts()#nature = 102 bo 70 + 32

Water       112
Nature      102
Normal       98
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Lambda należy użyć, gdy uznamy, że chcemy dodać funkcję, chcemy skorzystać z jakiejś funkcji, ale nie mamy ochoty tej funkcji deklarować.
aText - nazwa dla argumentu, po : zapisaliśmy caiło funkcji

In [69]:
pokLambda = pok1.apply(lambda aText: aText.upper())
pokLambda.head()

Name
Bulbasaur                GRASS
Ivysaur                  GRASS
Venusaur                 GRASS
VenusaurMega Venusaur    GRASS
Charmander                FIRE
Name: Type 1, dtype: object

## Metoda map

In [70]:
team = pd.Series(data = [5, 3, 2, 4, 3, 4, 4, 5], index = ['Andy', 'Bob', 'Chris', 'Dirk', 'Francis',
                                                           'George', 'Henry', 'Ivan'])
team

Andy       5
Bob        3
Chris      2
Dirk       4
Francis    3
George     4
Henry      4
Ivan       5
dtype: int64

In [71]:
notes = pd.Series(data = ['C', 'B', 'A', 'A+', 'A++'], index = [1, 2, 3, 4, 5])
notes

1      C
2      B
3      A
4     A+
5    A++
dtype: object

Obok osoby chcemy zobaczyć ocenę w postaci liter zamiast oceny liczbowej

In [72]:
team.map(notes)

Andy       A++
Bob          A
Chris        B
Dirk        A+
Francis      A
George      A+
Henry       A+
Ivan       A++
dtype: object

In [73]:
notes_dict = {1: 'C', 2: 'B', 3: 'A', 4: 'A+', 5: 'A++'}
notes_dict

{1: 'C', 2: 'B', 3: 'A', 4: 'A+', 5: 'A++'}

In [77]:
teamNotes = team.map(notes_dict)#do metody map można dać serię, słownik

In [78]:
teamNotes

Andy       A++
Bob          A
Chris        B
Dirk        A+
Francis      A
George      A+
Henry       A+
Ivan       A++
dtype: object