## Ręczne tworzenie Data Series

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as math

In [2]:
cities = ['London', 'Berlin', 'Warsaw', 'Paris']

In [3]:
citiesSeries = pd.Series(cities)
citiesSeries

0    London
1    Berlin
2    Warsaw
3     Paris
dtype: object

In [4]:
pd.Series(cities)

0    London
1    Berlin
2    Warsaw
3     Paris
dtype: object

In [5]:
primeNumbers = (2, 3, 5, 7, 11, 13, 17, 19)
pd.Series(primeNumbers)

0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
dtype: int64

In [6]:
logicalValues = [True, True, True]

In [7]:
pd.Series(logicalValues)

0    True
1    True
2    True
dtype: bool

In [8]:
SpielbergFilmography = {'Jaws' : 1975,
                        '1941' : 1979,
                        'Indiana Jones and the Raiders of the Lost Ark' : 1981,
                        'E.T. - the Extra-Terrestrial' : 1982} #słownik: film : data premiery

In [9]:
SpielbergFilmography #tabela haszowana

{'Jaws': 1975,
 '1941': 1979,
 'Indiana Jones and the Raiders of the Lost Ark': 1981,
 'E.T. - the Extra-Terrestrial': 1982}

In [10]:
pd.Series(SpielbergFilmography) #indeksem stały się etykiety podane w tabeli haszowanej, jeżeli chcemy zrobić obiekt serii, 
#który posiada własne etykiety na dane i nie opiera sięo automatyczne numery wierszy, to dajemy tabele haszowane

Jaws                                             1975
1941                                             1979
Indiana Jones and the Raiders of the Lost Ark    1981
E.T. - the Extra-Terrestrial                     1982
dtype: int64

In [11]:
#pd.Series(list) lub pd.Series(hashTable)

## Artybuty Data Series
Jak każdy element Data Series posiada atrybuty i metody
Artybut - z zał. wartość którą dany przykład posiada
Zmiana obiektu samego w sobie odbywa się poprzez wywołanie metody
Metode wywoluje sie stawiajac kropke, wpisujac metode i dodajac nawiasy okragle

In [12]:
citiesSeries.size #ile elementów znajduje się w środku, długość/wielkość obiektu - atrybut

4

In [13]:
citiesSeries.nbytes#ile bajtów ten obiekt zajmuje w pamięci

32

In [14]:
citiesSeries.is_unique#czy wartości obiektu są unikalne

True

In [15]:
citiesSeries.is_monotonic#dane nie są alfabetyczne, dlatego mamy False

False

In [16]:
citiesSeries.index#skąd wziął się indeks

RangeIndex(start=0, stop=4, step=1)

In [17]:
citiesSeries.values

array(['London', 'Berlin', 'Warsaw', 'Paris'], dtype=object)

In [18]:
citiesSeries.dtype

dtype('O')

In [19]:
citiesSeries.shape#4 elementy na 1 wymiarze i żadnych elementów na żadnym innym wymiarze

(4,)

In [20]:
citiesSeries.axes#współrzędne, którymi możemy odwoływać się do poszczególnych argumentów

[RangeIndex(start=0, stop=4, step=1)]

In [21]:
monotonicList = [1, 2, 4, 67, 99]
monotonicSeries = pd.Series(monotonicList)
monotonicSeries

0     1
1     2
2     4
3    67
4    99
dtype: int64

In [22]:
monotonicSeries.is_monotonic#liczby ustawione rosnąco

True

In [23]:
monotonicSeries.is_monotonic_increasing#pandas wie żę wartości są rosnące

True

In [24]:
monotonicSeries.is_monotonic_decreasing

False

In [25]:
stringList = ['Cola', 'Redbull', 'Sprite']
stringSeries = pd.Series(stringList)
stringSeries

0       Cola
1    Redbull
2     Sprite
dtype: object

In [26]:
stringSeries.is_monotonic

True

In [27]:
stringSeries.is_monotonic_increasing#dane ustawione alfabetycznie

True

## Metody Data Series
Metody są to funkcje, które wywoływane są na rzecz danego obiektu. Czyli mają dostęp do obiektu, zktórym pracują i mają możliwość zmiany tego obiektu.

In [28]:
monotonicSeries.sum()

173

In [29]:
monotonicSeries.min()

1

In [30]:
monotonicSeries.max()

99

In [31]:
monotonicSeries.mean()

34.6

In [32]:
monotonicSeries.count() # ilość elementów znajdujących się w data series, metoda count i atrybut size zwracają to samo

5

In [33]:
monotonicSeries.product()

53064

In [34]:
monotonicSeries.index

RangeIndex(start=0, stop=5, step=1)

In [35]:
monotonicSeries.keys()#metoda keys i atrybut index działają zamiennie

RangeIndex(start=0, stop=5, step=1)

In [36]:
monotonicSeries.values

array([ 1,  2,  4, 67, 99], dtype=int64)

In [37]:
monotonicSeries.to_numpy()#to_numpy() kiedyś było to get_values, ale tego już nie ma

array([ 1,  2,  4, 67, 99], dtype=int64)

In [38]:
monotonicSeries.to_list()

[1, 2, 4, 67, 99]

In [39]:
monotonicSeries.add(10)

0     11
1     12
2     14
3     77
4    109
dtype: int64

In [40]:
monotonicSeries#są stare wartości, niezmienione, czyli nei ma dodanej 10, ponieważ data series tworza jej kopie,
#a nie działają na oryginale

0     1
1     2
2     4
3    67
4    99
dtype: int64

In [41]:
#aby zapisać wynik operacji w data series można to zrobić np przez tworzenie nowego data series
newSeries = monotonicSeries.add(10)
newSeries

0     11
1     12
2     14
3     77
4    109
dtype: int64

##### Przekazywanie parametrów do metod

In [42]:
currencies = ['USD', 'EUR', 'PLN', 'EUR', 'EUR']
countries = ['USA', 'Spain', 'Poland', 'Portugal', 'Italy']
#tworzymy serię, której indeksem ma być symbol waluty, a wartością nazwa kraju

In [43]:
curSeries = pd.Series(countries, currencies)

In [44]:
curSeries

USD         USA
EUR       Spain
PLN      Poland
EUR    Portugal
EUR       Italy
dtype: object

In [45]:
countrySeries = pd.Series(currencies, countries)
countrySeries

USA         USD
Spain       EUR
Poland      PLN
Portugal    EUR
Italy       EUR
dtype: object

In [46]:
#Aby nie pomylić kolejności, które dane mają być indeksami, a które wartościami wystarczy zapisać "data = " oraz "index ="
curSeries = pd.Series(data = countries, index = currencies)
curSeries

USD         USA
EUR       Spain
PLN      Poland
EUR    Portugal
EUR       Italy
dtype: object

In [47]:
curSeries = pd.Series(index = currencies, data = countries)
curSeries
#argumenty zapisane w nawiasie można dowolnie zmieniać, nie wpływa to na wynik operacji

USD         USA
EUR       Spain
PLN      Poland
EUR    Portugal
EUR       Italy
dtype: object

In [50]:
curSeries = pd.Series(index = currencies, countries)#jedkażne albo podajemy atgumenty przez pozycje,
#czyli bez nazywania parametrów, albo nazywamy wszystkie parametry

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_7280/2959947433.py, line 1)

In [51]:
#shift + tab - help podpowiada jakie argumenty są w tej funkcji, 
#2 razy to wiekszy help, a 3 wciśnięcia to już mega dokłądny opis

In [52]:
#Różnica między obiektem series a słownikiem: kilka argumentów może mieć jednakowy indeks, np kilka krajów ta sama waluta

In [53]:
dictCountry = {'USD' : 'USA', 'USD' : 'USA'}#masło maślane
dictCountry

{'USD': 'USA'}

In [54]:
dictCountry = {'USD' : 'USA', 'USD' : 'Canada'}#zawartością słownika jest tylko ostatnia zapisana wartość
dictCountry

{'USD': 'Canada'}

## Filtrowanie danych w serii
Teraz skupimy się na metodach, które pozwalają wybrać nam z obiektu Series tylko te elementy, które spełniają jakieś określone przez nas warunki

In [55]:
numbers = [1, 2, 3, 11, 12, 13]
numbers

[1, 2, 3, 11, 12, 13]

In [56]:
numbers > 10#ten operator nie działa na liście, nie jest w stanie porównać listy z liczbą

TypeError: '>' not supported between instances of 'list' and 'int'

In [61]:
numSeries = pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [62]:
numSeries > 10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [63]:
numSeries.where(numSeries > 10)

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [64]:
#usuwanie NaN
numSeries.where(numSeries > 10, other = -1)#other opisuje co ma sie wyswietlic gdy nie jest spelniony warunek

0    -1
1    -1
2    -1
3    11
4    12
5    13
dtype: int64

In [65]:
#całkowite wykluczanie elementów niespełniających warunków
numSeries.where(numSeries > 10).dropna()#dropna() wykreśla wszystkie wartości niespełniające warunku

3    11.0
4    12.0
5    13.0
dtype: float64

In [66]:
numSeries#lista nie jest wyfiltrowana, metoda tworzy jego kopię, nie modyfikuje jego pierwotnej wersji

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [67]:
numSeries.where(numSeries > 10, inplace = True)
numSeries

0     NaN
1     NaN
2     NaN
3    11.0
4    12.0
5    13.0
dtype: float64

In [68]:
numSeries.dropna(inplace = True)
numSeries

3    11.0
4    12.0
5    13.0
dtype: float64

In [69]:
numSeries = pd.Series(numbers)
numSeries#definiowanie na nowo

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [70]:
numSeries.where(numSeries > 10, inplace = True).dropna(inplace = True)
#w przypadku inplace zmiana jest wykonywana w środku

AttributeError: 'NoneType' object has no attribute 'dropna'

In [71]:
numSeries.where(numSeries > 10, inplace = True)
numSeries.dropna(inplace = True)#po rozłączeniu operacje działają prawidłowo
numSeries

3    11.0
4    12.0
5    13.0
dtype: float64

In [72]:
#wyciągnięcie elementów bazując na indeksie - metoda filter
numSeries = pd.Series(numbers)
numSeries

0     1
1     2
2     3
3    11
4    12
5    13
dtype: int64

In [73]:
numSeries.filter(items=[0, 2, 4])#możliwość filtrowania po indeksie, a nie po wartościach

0     1
2     3
4    12
dtype: int64

## Bardziej zaawansowane filtrowanie

In [74]:
#filtrowanie liczb nieparzystych
numSeries % 2 == 1

0     True
1    False
2     True
3     True
4    False
5     True
dtype: bool

In [75]:
numSeries.where(numSeries > 10).dropna()

3    11.0
4    12.0
5    13.0
dtype: float64

In [76]:
numSeries.where(numSeries % 2 == 1).dropna()

0     1.0
2     3.0
3    11.0
5    13.0
dtype: float64

In [77]:
#łączymy te dwa warunki
#tworzyymy 2 zmienne dla każdego warunku i łączymy je w jednym poleceniu
numbersGreater10 = numSeries > 10
numbersGreater10

0    False
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [78]:
numbersOdd = numSeries % 2 == 1
numbersOdd

0     True
1    False
2     True
3     True
4    False
5     True
dtype: bool

In [79]:
numSeries.where(numbersGreater10 & numbersOdd)#operator and - & działa na bitach (nie jest to typowy operator logiczny)

0     NaN
1     NaN
2     NaN
3    11.0
4     NaN
5    13.0
dtype: float64

In [80]:
numSeries.where(numbersGreater10 & numbersOdd).dropna()

3    11.0
5    13.0
dtype: float64

In [81]:
#Ta metoda ma zalete: rodzielenie warunków na 2 operacje polepsza styl programowania
#metody uproszczające działanie:

In [82]:
numSeries.between(3, 12)#czy mamy wartości między 3 a 12

0    False
1    False
2     True
3     True
4     True
5    False
dtype: bool

In [83]:
numSeries.where(numSeries.between(3, 12))

0     NaN
1     NaN
2     3.0
3    11.0
4    12.0
5     NaN
dtype: float64

In [84]:
numSeries.where(numSeries.between(3, 12)).dropna()

2     3.0
3    11.0
4    12.0
dtype: float64

## Import danych do obiektu Series

In [104]:
pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [105]:
obj = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv')
type(obj)

pandas.core.frame.DataFrame

In [106]:
pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name'])

                      Name
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
..                     ...
795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion

[800 rows x 1 columns]

In [107]:
obj = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name'])
type(obj)#dane wyglądają jak dane jednokolumnowe, ale to nadal DataFrame - graficznie przyjemna postać

pandas.core.frame.DataFrame

In [108]:
pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name'], squeeze = True)

C:\Users\juleq\AppData\Local\Temp/ipykernel_7280/1398495509.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name'], squeeze = True)

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [109]:
obj = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name'], squeeze = True)
type(obj)

C:\Users\juleq\AppData\Local\Temp/ipykernel_7280/2828683539.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  obj = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name'], squeeze = True)

pandas.core.series.Series

In [110]:
speed = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Speed'], squeeze = True)
speed

C:\Users\juleq\AppData\Local\Temp/ipykernel_7280/1350439316.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  speed = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Speed'], squeeze = True)

0       45
1       60
2       80
3       80
4       65
      ...
795     50
796    110
797     70
798     80
799     70
Name: Speed, Length: 800, dtype: int64

In [111]:
#pobieranie danych ze schowka systemu windows
dataFromClipboard = pd.read_clipboard(sep = ',')
dataFromClipboard
#wow
type(dataFromClipboard)

EmptyDataError: No columns to parse from file

In [112]:
#wyciągnięcie 1 kolumny i analizowanie jej jako data Series
oneSeries = dataFromClipboard['Name']
oneSeries
type(oneSeries)

NameError: name 'dataFromClipboard' is not defined

In [113]:
#metoda head - wyświetla 5 pierwszych wierszy
oneSeries.head()

NameError: name 'oneSeries' is not defined

In [114]:
#metoda tail - wyświetla 5 dolnych wierszy
oneSeries.tail()

NameError: name 'oneSeries' is not defined

In [115]:
#polecenia te mogą przyjmować parametry, mianowicie ile danych ma pokazac
oneSeries.head(3)

NameError: name 'oneSeries' is not defined

In [116]:
oneSeries.tail(10)

NameError: name 'oneSeries' is not defined

In [117]:
pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name'], squeeze = True).head()
#squeeze - konwertuje kolumne do typu Series

C:\Users\juleq\AppData\Local\Temp/ipykernel_7280/3602943546.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name'], squeeze = True).head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [118]:
mySeries = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name'], squeeze = True).head(3)
mySeries
mySeries.size

C:\Users\juleq\AppData\Local\Temp/ipykernel_7280/3501695053.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  mySeries = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name'], squeeze = True).head(3)

3

In [119]:
mySeries = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name'], squeeze = True)
mySeries.head(3)
mySeries.size

C:\Users\juleq\AppData\Local\Temp/ipykernel_7280/2041599593.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  mySeries = pd.read_csv('C:/Users/juleq/OneDrive/Desktop/pandas_kurs/course-files/pokemon.csv', usecols = ['Name'], squeeze = True)

800